/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Project styles */

main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/bg-pattern-top.svg') top -50vw left -50vw / 115% no-repeat,
              url('./images/bg-pattern-bottom.svg') bottom -50vw right -50vw / 115% no-repeat,
              hsl(185, 75%, 39%);
}
.profile-card{
  width: 90vw;
  max-height: 66vh;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  box-shadow:0px 0px 50px 1px hsl(227, 10%, 46%, 0.5);
  color: hsl(227, 10%, 46%);
  background: url('./images/bg-pattern-card.svg') center top / 100% no-repeat,
              #ffffff;
}

.profile-header{
  width: 100%;
  height: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  gap: 0.5em;
}

.profile-loc{
  font-size: .8em;
}

.profile-img{
  background: url('./images/image-victor.jpg') center / cover no-repeat;
  border-radius: 100%;
  border: 5px solid #fff;
  width:  100px;
  height: 100px;
  margin-top: 25%;
}

.name {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.profile-footer {
  border-top: 1px solid hsl(227, 10%, 46%, 0.2);
}

.stat-num{
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  text-transform: uppercase;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
  padding: 0.5em 2em;
}

.profile-stats > li{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stat-title {
  font-size: .6em;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  main {
    background: url(./images/bg-pattern-top.svg) top -60vw left -50vw / 100% no-repeat,
    url(./images/bg-pattern-bottom.svg) bottom -70vw right -40vw / 100% no-repeat,
    hsl(185, 75%, 39%)
  }
  .profile-card{
    max-width: 25vw;
  }

}